.footer {
  background-color: #212d45;
  padding: 10px 30px;
  color: #fff;
}

.part1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

.form a img {
  width: 50px;
  height: 50px;
}

.part2 {
  text-align: center;
  line-height: 30px;
}

.part2 a {
  color: #9687e6;
}

@media (max-width: 768px) {
  .part1 {
    display: block;
  }

  .form {
    text-align: center;
  }
}
